<!-- EventComponemt.html -->
<div class="flex items-center">
    <div data-class="commonTextClasses">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" data-classblind="iconClasses">
            <path fill-rule="evenodd" data-d="iconPath" clip-rule="evenodd" />
        </svg>
    </div>
    <div data-class="commonTitleClasses" data-text="title"></div>
    <div data-text="condition"></div>
</div>
<div data-classblind="panelBgClasses">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
        <path data-d="panelIconPath" />
    </svg>
</div>