<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI with jQuery and Rivets.js</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lz-string@1.4.4/libs/lz-string.min.js"></script>
    <!-- <link href="/static/styles/tailwind.css" rel="stylesheet"> -->
    <!-- <link href="/static/styles/base-tailwind.css" rel="stylesheet"> -->
     <link href="/static/styles/style.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div data-class="containerClasses" class="flex relative select-none">
        <div class="hidden md:block resize-x w-72 lg:w-96 xl:w-[28rem] dark:bg-gray-600/30 me-1 rounded-md overflow-hidden">
            <div class="dark:text-gray-300 text-gray-800 bg-[#4D5568] px-2 py-1">
                <div class="">
                    <div>Peroperties</div>
                </div>
            </div>
            <div data-js-component="PropertyPriceCandlestickCdtComponent"></div>
        </div>
        <div class="w-full flex flex-col">
            <div class="h-8 mx-4 dark:text-gray-300 text-gray-800 bg-[#4D5568] items-center rounded-md mb-2">
                <div class="float-left flex gap-x-1">
                    <button
                        class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-xs text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                        <span
                            class="flex items-center gap-x-1 py-1.5 px-3 relative transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            <p>save & run</p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="size-4">
                                <path
                                    d="M6.3 2.84A1.5 1.5 0 0 0 4 4.11v11.78a1.5 1.5 0 0 0 2.3 1.27l9.344-5.891a1.5 1.5 0 0 0 0-2.538L6.3 2.841Z">
                                </path>
                            </svg>
                        </span>
                    </button>
                    <button
                        class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                        <span
                            class="flex items-center gap-x-2 p-1 relative transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="size-5">
                                <path
                                    d="M6.3 2.84A1.5 1.5 0 0 0 4 4.11v11.78a1.5 1.5 0 0 0 2.3 1.27l9.344-5.891a1.5 1.5 0 0 0 0-2.538L6.3 2.841Z">
                                </path>
                            </svg>
                        </span>
                    </button>
                    <div class="flex gap-x-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4">
                            <path fill-rule="evenodd"
                                d="M7.793 2.232a.75.75 0 0 1-.025 1.06L3.622 7.25h10.003a5.375 5.375 0 0 1 0 10.75H10.75a.75.75 0 0 1 0-1.5h2.875a3.875 3.875 0 0 0 0-7.75H3.622l4.146 3.957a.75.75 0 0 1-1.036 1.085l-5.5-5.25a.75.75 0 0 1 0-1.085l5.5-5.25a.75.75 0 0 1 1.06.025Z"
                                clip-rule="evenodd" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4">
                            <path fill-rule="evenodd"
                                d="M12.207 2.232a.75.75 0 0 0 .025 1.06l4.146 3.958H6.375a5.375 5.375 0 0 0 0 10.75H9.25a.75.75 0 0 0 0-1.5H6.375a3.875 3.875 0 0 1 0-7.75h10.003l-4.146 3.957a.75.75 0 0 0 1.036 1.085l5.5-5.25a.75.75 0 0 0 0-1.085l-5.5-5.25a.75.75 0 0 0-1.06.025Z"
                                clip-rule="evenodd" />
                        </svg>

                    </div>
                </div>
                <button type="button"
                    class="h-full float-right text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 text-center">Upgrade
                    Plan</button>
                <div data-js-component="DarkmodeComponent" class="float-right"></div>
            </div>
            <div data-js-component="DndComponent" class="h-auto px-1 md:h-4/6 overflow-auto">
            </div>
            <div class="hidden md:block resize-y relative h-2/6 mt-1 items-center dark:bg-gray-600/30 rounded-md">
                <div class="h-[6px] w-[6px] -top-[10px] right-0  absolute dark:bg-[#111827] bg-white">
                </div>
            </div>
        </div>
        <div class="hidden md:block resize-x w-72 lg:w-96 xl:w-[28rem] dark:bg-gray-600/30 ms-1 rounded-md overflow-hidden">
            <div class="dark:text-gray-300 text-gray-800 bg-[#4D5568] px-2 py-1">
                <div class="flex items-center">
                    <div>Peroperties</div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="flex gap-x-2">
        <button id="update-button">Update Value</button><button id="update-button2">Update Value</button>
    </div>-->

    <script type="module" src="/static/js/dnd-editor.js"></script>
    

</body>

</html>