<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI with jQuery and Rivets.js</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rivets/0.9.6/rivets.bundled.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="/static/js/app.js"></script>
</head>

<body>
    <!-- แปลง data จาก Python เป็น JSON -->
    <script>
        window.data = {{ data | tojson }};

        $(document).ready(function () {
            var view = rivets.bind($('body'), { data: window.data });

            // ตั้ง interval เพื่อลดค่าตัวแปร value ทุก 1 วินาที
            setInterval(function () {
                if (view.models.data.value > 0) {
                    view.models.data.value -= 1;
                }
            }, 1000);
        });
    </script>

    <div rv-data="data" class="max-w-sm mx-auto bg-white shadow-lg rounded-lg p-6 mt-6">
        <h1 class="text-2xl font-bold text-primary-800 mb-4" rv-text="data.message"></h1>
        <p class="text-xl text-primary-600">The value is: <span class="text-red-500 font-semibold" rv-text="data.value"></span></p>
    </div>
</body>

</html>