:root {

        /* New primary Colors */
        --primary-25: #fcfcfe;
        --primary-50: #f9fafd;
        --primary-75: #f5f6fa;
        --primary-100: #f1f3f8;
        --primary-125: #eceef4;
        --primary-150: #e7e9f1;
        --primary-175: #e2e5ed;
        --primary-200: #dee1ea;
        --primary-225: #d5d8e3;
        --primary-250: #ccd0dd;
        --primary-275: #c3c7d6;
        --primary-300: #bbc0d0;
        --primary-325: #adb3c6;
        --primary-350: #a0a6bc;
        --primary-375: #9399b2;
        --primary-400: #8b91ac;
        --primary-425: #8288a3;
        --primary-450: #7a809a;
        --primary-475: #717791;
        --primary-500: #696f89;
        --primary-525: #61677f;
        --primary-550: #595f76;
        --primary-575: #51576d;
        --primary-600: #4a5065;
        --primary-625: #43485c;
        --primary-650: #3c4154;
        --primary-675: #353a4c;
        --primary-700: #2f3344;
        --primary-725: #292d3c;
        --primary-750: #232635;
        --primary-775: #1d202d;
        --primary-800: #171a26;
        --primary-825: #12141e;
        --primary-850: #0c0e17;
        --primary-875: #07080f;
        --primary-900: #030408;
        --primary-925: #020204;
        --primary-950: #010102;
        --primary-975: #000000;
  }


.TreeItem_Wrapper {
    list-style: none;
    box-sizing: border-box;
    margin-bottom: -1px;
}

/* html.dark div[data-class="rightPanelClasses"] > div[data-class="commonFlexClasses"] {
    border-color: rgb(75 85 99)
} */

/*START: DISABLED COMMAND*/
html.dark div[data-class="panelWrapperClasses"].line-through div[data-class="commonFlexClasses"] span,html.dark div[data-class="commonFlexClasses"].line-through span {
  background-color: #60364b;
}

html.dark div[data-class="panelWrapperClasses"].line-through div[data-class="leftPanelClasses"] > div[data-class="commonFlexClasses"] {
  background-color: #754c63;
}

html.dark div[data-class="panelWrapperClasses"].line-through div[data-class="rightPanelClasses"] > div[data-class="commonFlexClasses"] {
  background-color: #653b51;
}

html.dark div[data-class="panelWrapperClasses"].line-through div[data-class="leftPanelClasses"] {
  background-color: #653b51;
}

html.dark div[data-class="panelWrapperClasses"].line-through div[data-class="rightPanelClasses"] {
  background-color: #572c3f;
}

html.dark div[data-class="leftPanelClasses"] > div[data-class="commonFlexClasses"].line-through {
  background-color: #754c63;
}

html.dark div[data-class="rightPanelClasses"] > div[data-class="commonFlexClasses"].line-through {
  background-color: #653b51;
}
/*END: DISABLED*/

html.dark div[data-class="panelWrapperClasses"].select-active div[data-class="commonFlexClasses"] span,html.dark div[data-class="commonFlexClasses"].select-active span {
    background-color: #2d3664;
}

html.dark div[data-class="panelWrapperClasses"].select-active div[data-class="leftPanelClasses"] > div[data-class="commonFlexClasses"] {
    background-color: #4c5291;
}

html.dark div[data-class="panelWrapperClasses"].select-active div[data-class="rightPanelClasses"] > div[data-class="commonFlexClasses"] {
    background-color: #394175;
}

html.dark div[data-class="panelWrapperClasses"].select-active div[data-class="leftPanelClasses"] {
    background-color: #424a7f;
}

html.dark div[data-class="panelWrapperClasses"].select-active div[data-class="rightPanelClasses"] {
    background-color: #2d3664;
}

html.dark div[data-class="leftPanelClasses"] > div[data-class="commonFlexClasses"].select-active {
    background-color: #53599e;
}

html.dark div[data-class="rightPanelClasses"] > div[data-class="commonFlexClasses"].select-active {
    background-color: #3f4881;
}

html div[data-class="panelWrapperClasses"].select-active div[data-class="commonFlexClasses"] span,html div[data-class="commonFlexClasses"].select-active span {
    background-color: #d7f7e2;
}

html div[data-class="panelWrapperClasses"].select-active div[data-class="leftPanelClasses"] > div[data-class="commonFlexClasses"] {
    background-color: #d3f2df;
}

html div[data-class="panelWrapperClasses"].select-active div[data-class="rightPanelClasses"] > div[data-class="commonFlexClasses"] {
    background-color: #d3f2df;
}

html div[data-class="panelWrapperClasses"].select-active div[data-class="leftPanelClasses"] {
    background-color: #c2e2cd;
}

html div[data-class="panelWrapperClasses"].select-active div[data-class="rightPanelClasses"] {
    background-color: #c2e2cd;
}

html div[data-class="leftPanelClasses"] > div[data-class="commonFlexClasses"].select-active {
    background-color: #dfffeb;
}

html div[data-class="rightPanelClasses"] > div[data-class="commonFlexClasses"].select-active {
    background-color: #dfffeb;
}


  
  html body {
    background-color: var(--primary-400);
    margin: 0;
    height: 100vh;
  }
  
  html body [data-js-component="DndComponent"] {
    background-color: var(--primary-300);
    background-image: radial-gradient(circle, var(--primary-350) 1px, transparent 1px);
    background-size: 16px 16px;
    border-radius: 8px;
    margin-right: 4px;
    margin-left: 4px;
  }
  
  html.dark body {
    background-color: var(--primary-850);
    background-image: radial-gradient(circle, var(--primary-775) 1px, transparent 1px);
    background-size: 16px 16px;
    margin: 0;
    height: 100vh;
  }
  
  html.dark body [data-js-component="DndComponent"] {
    background-color: transparent;
    background-image: none;
    margin: 0;
  }
  
  .border-0 {
    border-bottom: none !important;
  }
  
  html #draganddropSection {
    background-color: white;
    opacity: 0.5;
    border-radius: 8px;
  }
  
  html.dark #draganddropSection {
    background-color: var(--primary-800);
  }
  
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--primary-200);
    border-radius: 10px;
  }
  
  html.dark ::-webkit-scrollbar-thumb {
    background: var(--primary-600);
    border-radius: 10px;
  }
  
  .highlight-button {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10px;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
  }
  
  .highlight-button:hover {
    opacity: 1;
  }
  
  [data-class="lineAreaClasses"] > div {
    isolation: isolate;
  }

.alert-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  max-width: 100%;
  width: 300px;
  display: flex;
  flex-direction: column-reverse;
}

.alert-item {
  margin-top: 10px;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.condition-item.active {
  background-color: rgba(60, 65, 84, 0.6);
}