.TreeItem_Wrapper {
    list-style: none;
    box-sizing: border-box;
    margin-bottom: -1px;
}

html.dark div[data-class="rightPanelClasses"] > div[data-class="commonFlexClasses"] {
    border-color: rgb(75 85 99)
}


html body {
    background-color: #e5e7eb;
    background-image: radial-gradient(circle, #9ca3af 1px, transparent 1px);
    background-size: 16px 16px;
    margin: 0;
    height: 100vh;
}

html.dark body {
    background-color: #111827;
    background-image: radial-gradient(circle, #2B3544 1px, transparent 1px);
    background-size: 16px 16px;
    margin: 0;
    height: 100vh;
}

@media (prefers-color-scheme: dark) {
    div[data-class="leftPanelClasses"] > div[data-class="commonFlexClasses"] {
        background-color: #4D5568;
        
        border-bottom: 1px solid;
        border-color: #6b7280;
    }
    div[data-class="rightPanelClasses"] > div[data-class="commonFlexClasses"] {
        background-color: #374151;

        border-bottom: 1px solid;
        border-color: #6b7280;
    }
}

.border-0 {
    border-bottom: none !important;
}

#draganddropSection {
    background-color: #4d556845;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #4D5568;
    border-radius: 10px;
  }


  .highlight-button {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10px;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}
.highlight-button:hover {
    opacity: 1;
}